APP_SECRET="replace-with-a-long-random-secret"
BOOTSTRAP_ADMIN_EMAILS="sci.m.wang@gmail.com"
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
SEMANTIC_SCHOLAR_API_KEY=""
